# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized:

**Objectives:**
- Popular languages that Data Scientist use
- Libraries used by Data Scientist
- Data Science Tools

### Some of the popular languages that Data Scientists use are:
1. Phyton
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. NumPy
3. Scikit-learn

| Data Science Tools | 
| -------------| 
| Apache Spark | 
| Tensor Flow | 
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python:
<p>X + Y = 13</p>
<p>X - Y = 7</p>

### This a simple arithmetic expression to mutiply then add integers:

In [7]:
(3*4)+5

17

### This will convert 200 minutes to hours by diving by 60:

In [8]:
200/60

3.3333333333333335

## Author:
Daniel Ulloa